/*首页*/
html {
  font-size: 20px;
  height: 100%;
}
@media only screen and (min-width: 320px) and (min-height: 480px) {
  html {
    font-size: 85.333333px !important;
  }
}
@media only screen and (min-width: 320px) and (min-height: 568px) {
  html {
    font-size: 85.3333333px !important;
  }
}
@media only screen and (min-width: 360px) and (min-height: 640px) {
  html {
    font-size: 96px !important;
  }
}
@media only screen and (min-width: 375px) and (min-height: 667px) {
  html {
    font-size: 100px !important;
  }
}
@media only screen and (min-width: 414px) and (min-height: 736px) {
  html {
    font-size: 110.4px !important;
  }
}
@media only screen and (min-width: 736px) and (min-height: 736px) {
  html {
    font-size: 192.26666667px !important;
  }
}
@media only screen and (min-width: 768px) and (min-height: 736px) {
  html {
    font-size: 204.8px !important;
  }
}
@media only screen and (min-width: 1024px) and (min-height: 736px) {
  html {
    font-size: 273.06666667px !important;
  }
}
.w {
  width: 100%;
  background-color: #F0F0F2;
}
.w:last-child {
  margin: auto;
}
.header_logo {
  height: 1.14rem;
  text-align: center;
  padding: 0.08rem 0.13rem;
  background-color: #FFFFFF;
}
.header_logo img {
  width: 100%;
}
.content {
  background-color: #FFFFFF;
  margin-bottom: 0.2rem;
}
.content .content-left .apply {
  width: 2.08rem;
  height: 0.44rem;
  font-size: 0.16rem;
  margin-left: 0.13rem;
  margin-top: 0.24rem;
}
.daikuan {
  /*border-bottom: 1px solid #ccc;*/
}
.content .daikuan .content-left .time {
  display: inline-block;
  margin-left: 0.13rem;
  margin-top: 0.24rem;
  margin-bottom: 0.2rem;
  white-space: nowrap;
}
.content .daikuan .content-right img {
  width: 1.17rem;
  height: 0.84rem;
  margin-right: 0.13rem;
  padding-top: 0.24rem;
}
.xuexi {
  margin-left: 0.4rem;
  width: 0.87rem;
  height: 0.17rem;
  color: #878787;
}
.xuxian {
  width: 3.49rem;
  height: 0.02rem;
  background-color: #F2F2F2;
  margin: 0 0.13rem;
}
.shuxian {
  background-color: #0B3A94;
  width: 0.04rem;
  height: 0.3rem;
  float: left;
}
.tutorial {
  height: 1.47rem;
  text-align: center;
  padding: 0.08rem 0.13rem;
  background-color: #FFFFFF;
}
.tutorial img {
  width: 100%;
}
.tutorial i {
  font-size: 0.12rem;
}
.novices {
  display: inline-block;
  float: left;
  font-size: 0.16rem;
  height: 0.22rem;
  color: #0C2781;
  margin: 0.08rem 0 0 0.13rem;
}
.all {
  font-size: 0.14rem;
  color: #878787;
  height: 0.2rem;
  line-height: 0.16rem;
  padding-left: 2.2rem;
}
.zhanwei {
  height: 0.59rem;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  text-align: center;
}
.footer i {
  font-size: 0.28rem;
}
.footer ul {
  height: 0.59rem;
}
.footer ul li {
  float: left;
  width: 25%;
  height: 0.49rem;
  text-align: center;
  margin-top: 0.1rem;
}
.footer ul li a {
  display: block;
}
