@import '../../static/css/style.css';
body{
  background-color:#fff !important;
}
 .geren_login {
  width: 70%;
  margin: 0 auto;
}
.geren_login .logo {
  height: 0.67rem;
  width: 0.67rem;
  margin: 15% auto;
  display: block;
}
.geren_login .geren_phone {
  margin-bottom: 0.2rem;
  border-bottom: 0.01rem solid #DDDDDD;
}
.geren_login .geren_phone :nth-child(1) {
  font-size: 0.2rem;
  line-height: 0.35rem;
  margin-left: 0.05rem;
}
.geren_login .geren_phone input {
  width: 1rem;
  height: 0.35rem;
}
.geren_login .geren_psd {
  margin-bottom: 0.2rem;
  border-bottom: 0.01rem solid #DDDDDD;
}
.geren_login .geren_psd :nth-child(1) {
  font-size: 0.2rem;
  line-height: 0.35rem;
  margin-left: 0.05rem;
}
.geren_login .geren_psd input {
  width: 1rem;
  height: 0.35rem;
}
.geren_login .denglu {
  width: 100%;
  color: #fff;
  height: 0.39rem;
  text-align: center;
  line-height: 0.39rem;
  margin-bottom: 0.11rem;
  background-color: #ccc;
}
.geren_login .zhuce {
  display: flex;
  justify-content: space-around;
}
.geren_login .zhuce a {
  color: #878787;
}
